@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
* {
  font-family: "Sora", sans-serif;
}

*,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
  font-family: "Sora", sans-serif;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;

  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0px 0px 20px #d4d4d4;

  transition: 0.3s ease;
}

.main-menu:hover {
  width: 270px;
}

.main-menu .menu-item {
  padding: 10px;
  padding-bottom: 50px;
}

.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .menu-item .bx {
  font-size: 25px;
  width: 40px;
  padding: 10px;
  color: grey;
}

.main-menu .menu-item:hover > .bx {
  color: blue;
}
